@using X.PagedList
@using X.Web.PagedList
@model IPagedList<Product>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/Images/Products/@item.ImageName" alt="@item.Name" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    $@item.Price
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" asp-action="Details"  asp-controller="Home" asp-route-id="@item.Id">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h1 class="container">No Elements Found</h1>
            }
        </div>

        <!-- Pagination controls -->
        <div class="d-flex justify-content-center">
            @Html.PagedListPager(
                     Model,
                     page => Url.Action("DisplayProducts", new { page }),
                     new PagedListRenderOptions
            {
                DisplayLinkToFirstPage =PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToIndividualPages = true,
                MaximumPageNumbersToDisplay = 5,
                DisplayPageCountAndCurrentLocation = true,
                DisplayEllipsesWhenNotShowingAllPageNumbers = true
            }
                     )
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-success mt-auto" asp-action="Index"  asp-controller="Home">Back To Home</a>
            </div>
        </div>
    </div>
</section>
