@model IEnumerable<Category>



<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <div class="header-search text-center">
                <form asp-action="DisplayCategoies" asp-controller="Home" asp-area="Customer" method="get" class="form-inline">
                    <input type="text" name="searchItem" class="input" placeholder="Search here" value="@ViewBag.CurrentFilter">
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 mb-4">
                <div class="product h-100 d-flex flex-column">
                    <div class="product-img d-flex align-items-center justify-content-center" style="height: 200px; overflow: hidden;">
                        <img src="/Images/Categories/@item.ImageName" alt="@item.Name" class="img-fluid" style="max-height: 100%; max-width: 100%; object-fit: contain;">

                    </div>
                    <div class="product-body flex-grow-1">
                        <p class="product-category">@item.Name</p>
                    </div>
                    <div class="add-to-cart mt-auto">
                        <a asp-area="Customer" asp-controller="Home" asp-action="DiplayProducts" asp-route-categoryId="@item.Id" class="btn btn-primary">View Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
            <a class="btn btn-outline-success mt-auto" asp-action="Index" asp-area="Customer" asp-controller="Home">Back To Home</a>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/css/home/index.css" rel="stylesheet" />
}