@using Web.Entites.ViewModels.HomeVMs

@{
    ViewData["Title"] = "Home Page";
    ViewData["Head"] = "Welcome to Shop Egypt";
    ViewData["PageTitle"] = "Home";
    Layout = "_HomeLayout";
}


<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-4" data-aos="fade-up">New Collections</h1>
            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas ut dolorum consequuntur, adipisci
                    repellat! Eveniet commodi voluptatem voluptate, eum minima, in suscipit explicabo voluptatibus harum,
                    quibusdam ex repellat eaque!
                </p>
            </div>
        </div>

        <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
            <div id="discover-container" class="swiper-wrapper d-flex border-animation-left">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>

    <div class="icon-arrow icon-arrow-left">
        <svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-left"></use>
        </svg>
    </div>
    <div class="icon-arrow icon-arrow-right">
        <svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-right"></use>
        </svg>
    </div>
</section>

<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#shopping-bag"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#gift"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Special packaging</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-cycle"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">free global returns</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Our Categories</h4>
            <a asp-controller="Category" asp-action="GetAllCategoriesInHome" class="btn-link">View All Categories</a>
        </div>
        <div id="categories-home" class="row g-3 open-up" data-aos="zoom-out">
        </div>
    </div>
</section>

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Our New Arrivals</h4>
            <a asp-controller="Product" asp-action="AllProductsBasedOnSort" asp-route-sortedBy="CreatedAt" class="btn-link">View All Products</a>
        </div>

        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div id="new-arrivals-container" class="swiper-wrapper d-flex">
                
            </div>

            <div class="swiper-pagination"></div>
        </div>

        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>

<section id="best-sellers" class="best-sellers product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Best Selling Items</h4>
            <a asp-controller="Product" asp-action="AllProductsBasedOnSort" asp-route-sortedBy="SoldCount" class="btn-link">View All Products</a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div id="best-sellers-container" class="swiper-wrapper d-flex">
                

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>




<section class="video py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="video-content open-up" data-aos="zoom-out">
                <div class="video-bg">
                    <img src="images/video-image.jpg" alt="video" class="video-image img-fluid">
                </div>
                <div class="video-player">
                    <img src="images/text-pattern.png" alt="pattern" class="text-rotate">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials py-5 bg-light">
    <div class="section-header text-center mt-5">
        <h3 class="section-title">WE LOVE GOOD COMPLIMENT</h3>
    </div>
    <div class="swiper testimonial-swiper overflow-hidden my-5">
        <div class="swiper-wrapper d-flex">
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“More than expected crazy soft, flexible and best fitted white simple denim shirt.”</p>
                        <div class="review-title text-uppercase">casual way</div>
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Best fitted white denim shirt more than expected crazy soft, flexible</p>
                        <div class="review-title text-uppercase">uptop</div>
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Best fitted white denim shirt more white denim than expected flexible crazy soft.”</p>
                        <div class="review-title text-uppercase">Denim craze</div>
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Best fitted white denim shirt more than expected crazy soft, flexible</p>
                        <div class="review-title text-uppercase">uptop</div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
</section>
<section class="logo-bar py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="logo-content d-flex flex-wrap justify-content-between">
                <img src="images/logo1.png" alt="logo" class="logo-image img-fluid">
                <img src="images/logo2.png" alt="logo" class="logo-image img-fluid">
                <img src="images/logo3.png" alt="logo" class="logo-image img-fluid">
                <img src="images/logo4.png" alt="logo" class="logo-image img-fluid">
                <img src="images/logo5.png" alt="logo" class="logo-image img-fluid">
            </div>
        </div>
    </div>
</section>
@if(!User.Identity!.IsAuthenticated)
{
    <section class="newsletter bg-light" style="background: url(images/pattern-bg.png) no-repeat;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 py-5 my-5">
                    <div class="subscribe-header text-center pb-3">
                        <h3 class="section-title text-uppercase">Sign Up for our newsletter</h3>
                    </div>
                    <div class="d-flex flex-wrap gap-2">
                        <a asp-action="Login" asp-controller="Auths" class="btn btn-dark btn-lg text-uppercase w-100">Login</a>
                        <a asp-action="Register" asp-controller="Auths" class="btn btn-dark btn-lg text-uppercase w-100">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#new-arrivals-container").load("/Product/LoadNewArrivals");
            $("#best-sellers-container").load("/Product/LoadBestSellers");
            $("#discover-container").load("/Product/LoadDiscover");
            $("#categories-home").load("/Category/LoadLimitedCategoryInHome");
        });
    </script>
    @* <script src="~/Carts/JS/AddToCart.js"></script> *@
}
