@model LoginVM
@{
	Layout = "_RegisterLayout";
}

<div class="wrapper" style="background-image: url('~/Registering/images/bg-registration-form-2.jpg');">
	<div class="inner">
		<form asp-action="Login" asp-controller="Auths" method="post">
			<h3>Login Form</h3>
			<input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
			<partial name="_ValidationScriptsPartial" />
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="form-wrapper">
				<label asp-for="UserName">UserName</label>
				<input asp-for="UserName" type="text" class="form-control">
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>

			<div class="form-wrapper">
				<label asp-for="Password">Password</label>
				<input asp-for="Password" type="password" class="form-control">
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<button>Login Now</button>
		</form>
	</div>
</div>
