@model List<DiscoverProductVM>
@foreach (var item in Model)
{
    <div class="swiper-slide">
        <div class="banner-item image-zoom-effect">
            <div class="image-holder">
                <a href="#">
                    <img src="~/Images/Products/@item.ImageName" alt="product" class="img-fluid">
                </a>
            </div>
            <div class="banner-content py-4">
                <h5 class="element-title text-uppercase">
                    <a href="index.html" class="item-anchor">@item.Name</a>
                </h5>
                <p>@item.Description</p>
                <div class="btn-left">
                    <a asp-action="Discover" asp-controller="Home" asp-route-id="@item.Id" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                </div>
            </div>
        </div>
    </div>
}

