@model CreateProductVM
@{
    ViewData["Title"] = "Create";
    ViewData["Head"] = "Product Management";
    ViewData["PageTitle"] = "Create";
    Layout = "_AdminLayout";
}<div class="container my-5"  style="margin-left: 220px;">
    <div class="row my-5">
        <div class="col-12 text-center">
            <h2 class="mt-5">Create Product</h2>
        </div>
    </div>

    <div id="main-content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data" id="productForm">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea id="mytextarea" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalStock" class="control-label"></label>
                        <input asp-for="TotalStock" class="form-control" />
                        <span asp-validation-for="TotalStock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId">Category</label>
                        <select id="category-select-list-item-container" asp-for="CategoryId" class="form-control">
                            <option value="">-- Select Category --</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label">Image</label>
                        <input asp-for="ImageFile" type="file" class="form-control" id="imageFile" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch mt-3 mb-3">
                        <input asp-for="HasSale" class="form-check-input" type="checkbox" role="switch" id="hasSaleSwitch" />
                        <label class="form-check-label" for="hasSaleSwitch">Has a sale</label>
                    </div>

                    <div id="sale-properties" class="hide">
                        <div class="form-group">
                            <label asp-for="SalePercentage" class="control-label">Sale Price</label>
                            <input asp-for="SalePercentage" class="form-control" />
                            <span asp-validation-for="SalePercentage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SaleStartDate" class="control-label">Sale Price</label>
                            <input asp-for="SaleStartDate" class="form-control" />
                            <span asp-validation-for="SaleStartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SaleEndDate" class="control-label">Sale Price</label>
                            <input asp-for="SaleEndDate" class="form-control" />
                            <span asp-validation-for="SaleEndDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group my-3 d-flex gap-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-secondary">← Back to Home</a>
                    </div>

                </form>

            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="container" id="imagePreview">
                    <img id="previewImage" src="#" alt="Image Preview" style="max-width: 100%; display: none;" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/products/previewimage.js"></script>
    <script src="~/products/salesproperties.js"></script>
    <script src="~/categories/loadall.js"></script>
    
}



