@model EditProductVM

@{
    ViewData["Title"] = "Edit";
    ViewData["Head"] = "Product Management";
    ViewData["PageTitle"] = "Edit";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Product</h4>
                <form class="forms-sample" enctype="multipart/form-data" asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea id="mytextarea" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoldCount" class="control-label"></label>
                        <input asp-for="SoldCount" class="form-control" />
                        <span asp-validation-for="SoldCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalStock" class="control-label"></label>
                        <input asp-for="TotalStock" class="form-control" />
                        <span asp-validation-for="TotalStock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId">Category</label>
                        <select id="category-select-list-item-container" asp-for="CategoryId" class="form-control">
                            <option value="">-- Select Category --</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label">Image</label>
                        <input asp-for="ImageFile" type="file" class="form-control" id="imageFile" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Save</button>
                    <a asp-action="Index" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <img id="previewImage" src="@Model.ImageName" alt="Image Preview" style="max-width: 100%; " />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/common/js/previewimage.js" asp-append-version="true"></script>

    <script src="~/categories/loadall.js" asp-append-version="true"></script>
}
