@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_LoginView.cshtml";
}
<form id="account" method="post">
    <div class="row gy-3 overflow-hidden">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control border-0 border-bottom rounded-0"  placeholder="name@example.com" required>
                <label asp-for="Input.Email" class="form-label">Email</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control border-0 border-bottom rounded-0"  value="" placeholder="Password" required>
                <label asp-for="Input.Password" class="form-label">Password</label>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-6">
                    <div class="form-check">
                        <input asp-for="Input.RememberMe" class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                        <label asp-for="Input.RememberMe" class="form-check-label text-secondary" for="remember_me">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <a href="#!" class="link-secondary text-decoration-none">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">Log in</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
}