@page
@model RegisterModel

@{
    Layout = "~/Views/Shared/_RegisterView.cshtml";
}



<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="input-box">
        <input asp-for="Input.Name" type="text" placeholder="Enter your name" required>
        <span asp-validation-for="Input.Name"></span>
    </div>
    <div class="input-box">
        <input asp-for="Input.Email" type="text" placeholder="Enter your email" required>
        <span asp-validation-for="Input.Name"></span>
    </div>
    <div class="input-box">
        <input asp-for="Input.PhoneNumber" type="text" placeholder="Enter your PhoneNumber" required>
        <span asp-validation-for="Input.PhoneNumber"></span>
    </div>
    <div class="input-box">
        <input asp-for="Input.City" type="text" placeholder="Enter your City" required>
        <span asp-validation-for="Input.City"></span>
    </div>
    <div class="input-box">
        <input asp-for="Input.Password" type="password" placeholder="Create password" required>
        <span asp-validation-for="Input.Name"></span>
    </div>
    <div class="input-box">
        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm password" required>
        <span asp-validation-for="Input.Name"></span>
    </div>
    @if (User.IsInRole(SD.AdminRole))
    {
        <div class="input-box">
            <label asp-for="Input.Role">Role</label>
            <br />
            <select asp-for="Input.Role" class="form-control" asp-items="@Model.Input.RolesSelectList">
                <option value="">Select Role</option>
            </select>
            <span asp-validation-for="Input.Role" class="text-danger"></span>
        </div>
    }
    <div class="input-box button">
        <input id="registerSubmit" type="submit" value="Register Now">
    </div>
    <div class="text">
        <h3>Already have an account? <a href="/Identity/Account/Login">Login now</a></h3>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}