@page
@model RegisterModel

@{
    Layout = "~/Views/Shared/_RegisterView.cshtml";
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="input-box mb-3">
        <input asp-for="Input.Name" type="text" placeholder="Enter your name" required>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="input-box mb-3">
        <input asp-for="Input.Email" type="text" placeholder="Enter your email" required>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="input-box mb-3">
        <input asp-for="Input.PhoneNumber" type="text" placeholder="Enter your PhoneNumber" required>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="input-box mb-3">
        <input asp-for="Input.City" type="text" placeholder="Enter your City" required>
        <span asp-validation-for="Input.City" class="text-danger"></span>
    </div>
    <div class="input-box mb-3">
        <input asp-for="Input.Password" type="password" placeholder="Create password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="input-box mb-3">
        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm password" required>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    @if (User.IsInRole(SD.AdminRole))
    {
        <div class="input-box mb-4">
            <select asp-for="Input.Role" asp-items="@Model.Input.RolesSelectList" required>
                <option value="">Select Role</option>
            </select>
            <span asp-validation-for="Input.Role" class="text-danger"></span>
        </div>
    }
    <div class="input-box button mb-3">
        <input id="registerSubmit" type="submit" value="Register Now">
    </div>
    <div class="text">
        <h3>Already have an account? <a href="/Identity/Account/Login">Login now</a></h3>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

<style>
    .text-danger {
        color: #ff0000; /* أحمر */
        display: block;
        margin-top: 5px;
    }

    .input-box {
        margin-bottom: 20px; /* توفير مسافة كافية بين الحقول */
    }

        .input-box input, .input-box select {
            width: 100%; /* عرض كامل للحقل */
        }

        .input-box .text-danger {
            margin-bottom: 10px;
        }
</style>
