@model ResendEmailConfirmationVM
@{
    Layout = "_RegisterLayout";
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5 text-center">
                        <h3 class="card-title text-info mb-3">Resend Email Confirmation</h3>
                        <p class="mb-4">Enter your email below, and we’ll resend the confirmation link to activate your account.</p>
                        <form asp-action="ResendEmailConfirmation" asp-controller="Auths" method="post">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control p_input" placeholder="Email" required />
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Send Confirmation Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
