@model ShoppingCart

@{
    ViewData["Title"] = "Details";
}
<form class="py-5" method="post" asp-action="Create" asp-controller="ShoppingCart" asp-area="Customer">
    <input asp-for="UserId" hidden />
    <input asp-for="ProductId" hidden />
      <div class="container px-4 px-lg-5 my-5">
          <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Images/Products/@Model.Product.ImageName" alt="@Model.Product.Name" /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">Shop item</h1>
                        <div class="fs-5 mb-5">
                            <span>$@Model.Product.Price</span>
                        </div>
                <p class="lead">@Html.Raw(Model.Product.Description)</p>
                        <div class="d-flex">
                            <input asp-for="Count" class="form-control text-center me-3" id="inputQuantity" type="num" value="@Model.Count" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
          </div>
          <a asp-action="Index" asp-area="Customer" asp-controller="Home">Back To Items</a>
</form>
