@model IEnumerable<Product>
	<div class="row">

		<div id="store" class="col">


			<div class="row">
			@foreach (var item in Model)
			{
				
					<div class="col-md-4 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/Images/Products/@item.ImageName" alt="@item.Name">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">@item.Category.Name</p>
								<h3 class="product-name"><a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">product name goes here</a></h3>
								<h4 class="product-price">$@item.Price <del class="product-old-price">$@(item.Price - (item.Price * (decimal).3))</del></h4>
								
							</div>
							<div class="add-to-cart">
								<a class="text-danger"  asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">Details</a>
							</div>
						</div>
					</div>
				<br />
				<br />
			}

	</div>
		<!-- /STORE -->
	</div>
