@model ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<Web.DataAccess.Utilities.StripeData> Stripe

 <form method="post">
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details">
					<div class="section-title">
						<h3 class="title">Billing address</h3>
					</div>
					<div class="form-group">
						<input asp-for="OrderHeader.Name" class="input"  placeholder="First Name">
					</div>
					<div class="form-group">
						<input asp-for="OrderHeader.Email" class="input"  placeholder="Email">
					</div>
					
					<div class="form-group">
						<input asp-for="OrderHeader.City" class="input" placeholder="City">
					</div>
					
					<div class="form-group">
						<input asp-for="OrderHeader.PhoneNumber" class="input"  placeholder="Telephone">
					</div>
				
				</div>
				
				
			</div>

			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Your Order</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCT</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>

					@foreach(var item in Model.ShoppingCarts)
                    {
                        <div class="order-products">
                            <div class="order-col">
                                <div>@item.Count x @item.Product.Name</div>
                                <div>$@item.Product.Price</div>
                            </div>
                        </div>
                    }
                    <div class="order-col">
						<div>Shiping</div>
						<div><strong>FREE</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">$@Model.OrderHeader.TotalPrice</strong></div>
					</div>
				</div>
				
				
				<button type="submit" class="primary-btn order-submit">Place order</button>
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
</form> 