@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Product Management";
    ViewData["PageTitle"] = "Products";
}
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/product/imagedisplay.js"></script>
    <script src="~/js/product/imagevalidation.js"></script>
    <script src="~/js/product/productdatatable.js"></script>
    <script src="~/js/deleteitems.js"></script>
     

}
