@model EditUserVM

@{
    ViewData["Title"] = "Edit";
    ViewData["Head"] = "User Management";
    ViewData["PageTitle"] = "Edit";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update User</h4>
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Id" hidden />

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly/>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Role">Roles</label>
                        <select id="role-select-list-item-container" asp-for="Role" class="form-control" data-current-role="@Model.Role">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-dark">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/roles/js/loadall.js" asp-append-version="true"></script>
}

