@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Category Management";
    ViewData["PageTitle"] = "Categories";
}

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Create</a>
</div>
<table id="MyTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

</table>
@section Scripts {
    <script src="~/js/category/categorydatatable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/js/deleteitems.js"></script>
}