
@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Category Management";
    ViewData["PageTitle"] = "Categories";
}

<div>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Create</a>
</div>
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    
</table>
@section Scripts{
    <script src="~/js/category.js"></script>
}
