@{
    Layout = "_RegisterLayout";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5 text-center">
                        <h3 class="card-title text-success mb-3">Go To Your Email</h3>
                        <p class="mb-4">Your confirmation email has been sent succesfully. Please go to your email.</p>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary w-100">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
