body {
    min-height: 100vh;
    background-color: #062e56;
    color: #f8f9fa;
    transition: margin-left 0.3s ease;
}

.navbar {
    background-color: #121212 !important;
    transition: margin-left 0.3s ease;
    z-index: 1000;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #1e1e2f;
    color: white;
    width: 220px;
    padding-top: 60px;
    transition: transform 0.3s ease;
    z-index: 999;
}

    .sidebar.collapsed {
        transform: translateX(-100%);
    }

    .sidebar a {
        color: #ddd;
        text-decoration: none;
        display: block;
        padding: 12px 20px;
        transition: background-color 0.3s;
    }

        .sidebar a:hover {
            background-color: #2c2c3a;
            letter-spacing: 2px;
        }

.content {
    margin-left: 220px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

    .content.expanded {
        margin-left: 0;
    }

h3 {
    color: #ffffff;
}

.table-dark-mode {
    background-color: #1a1a2e;
    color: #f8f9fa;
}

    .table-dark-mode th {
        background-color: #2a2a40;
        color: #ffffff;
    }

    .table-dark-mode tbody {
        background-color: #121e2a;
        color: #f8f9fa;
    }

        .table-dark-mode tbody tr:hover {
            background-color: #010409;
        }

.btn-outline-warning,
.btn-outline-danger,
.btn-outline-info,
.btn-outline-success {
    color: #f8f9fa;
    border-color: #6c757d;
}

    .btn-outline-warning:hover,
    .btn-outline-danger:hover,
    .btn-outline-info:hover,
    .btn-outline-success:hover {
        background-color: #6c757d;
        color: white;
    }

.form-control,
.form-control:focus {
    background-color: #2c3e50;
    color: #f8f9fa;
    border: 1px solid #444;
}

.badge {
    font-size: 0.75rem;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.25rem;
    margin-right: 10px;
}

.hide{
    display:none;
}