@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Orders Management";
    ViewData["PageTitle"] = "Orders";
}
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
            
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/orders/orderdatatable.js"></script>
}
